@page "/deletecommittee/{committeeId:int}"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using System.ComponentModel.DataAnnotations
@using E_Wybory.Client.ViewModels
@inject IPartyManagementService PartyManagementService
@inject NavigationManager NavigationManager
<link href="forms.css" rel="stylesheet" />

<div class="form-container">
    <h1>USUWANIE KOMITETU WYBORCZEGO</h1>
    <EditForm Model="@committeeModel" OnValidSubmit="HandleAddSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="nr-listy">NR LISTY</label>
            <InputNumber @bind-Value="committeeModel.ListCommiteeNumber" id="nr-listy" readonly class="form-input" placeholder="Wprowadź nr listy komitetu" />
        </div>
        <div class="form-group-smaller">
            <label for="nazwa">NAZWA KOMITETU</label>
            <InputText @bind-Value="committeeModel.PartyName" id="nazwa" readonly class="form-input" placeholder="Wprowadź nazwę komitetu" />
        </div>
        <div class="form-group-smaller">
            <label for="skrot">SKRÓT</label>
            <InputText @bind-Value="committeeModel.Abbreviation" id="skrot" readonly class="form-input" placeholder="Wprowadź skrót komitetu" />
        </div>
        <div class="form-group-smaller">
            <label for="adres">ADRES</label>
            <InputText @bind-Value="committeeModel.PartyAddress" id="adres" readonly class="form-input" placeholder="Wprowadź adres komitetu" />
        </div>
        <div class="form-group-smaller">
            <label for="type">TYP PARTII</label>
            <InputText @bind-Value="committeeModel.PartyType" id="type" readonly class="form-input" placeholder="Wprowadź typ partii" />
        </div>
        <div>
            <label for="coalition">PARTIA KOALICYJNA</label>
            <input type="checkbox" id="coalition" checked="@(committeeModel.IsCoalition)" disabled />
            <span>@(committeeModel.IsCoalition ? "Tak" : "Nie")</span>
        </div>
        <div class="form-group-smaller">
            <label for="adres">STRONA WWW</label>
            <InputText @bind-Value="committeeModel.Website" id="website" readonly class="form-input" placeholder="Wprowadź stronę internetową" />
        </div>

        <button type="submit" class="submit-button">USUŃ</button>
    </EditForm>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">@errorMessage</div>
    }
</div>

@code {
    [Parameter]
    public int committeeId { get; set; }

    private PartyViewModel committeeModel = new PartyViewModel();
    bool isDeletedCommittee = false;
    string errorMessage;


    protected override async Task OnInitializedAsync()
    {
        if (!await PartyManagementService.PartyExists(committeeId))
        {
            errorMessage = "Committee not found";
            Cancel();
        }
        else
        {
            committeeModel = await PartyManagementService.GetPartyById(committeeId);
        }
    }

    private async void HandleAddSubmit()
    {
        isDeletedCommittee = await PartyManagementService.DeleteParty(committeeId);
        errorMessage = isDeletedCommittee ? "Committee deleted successful!" : "Committee deletion fails";
        if (isDeletedCommittee)
        {
            Cancel();
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/committeelist");
    }
}
