@page "/register"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using System.ComponentModel.DataAnnotations
@using E_Wybory.Client.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@inject IAuthService AuthService
@inject IPersonManagementService PersonManagementService
@inject IElectionUserManagementService ElectionUserManagementService
@inject IDistrictManagementService DistrictManagementService

<div class="registration-form">
    <div class="icon">
        <img src="images/profile-add.png" alt="Ikona główna" width="400" height="400" />
    </div>
    
    <EditForm FormName="Register" Model="@registrationModel" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />

        <div class="form-row">
            <div class="input-group">
                <img src="images/user.png" alt="Ikona użytkownika" class="input-icon" />
                <InputText  @bind-Value="registrationModel.FirstName" placeholder="IMIĘ" />
                <ValidationMessage For="@(() => registrationModel.FirstName)" />
            </div>
            <div class="input-group">
                <img src="images/user.png" alt="Ikona użytkownika" class="input-icon" />
                <InputText @bind-Value="registrationModel.LastName" placeholder="NAZWISKO" />
                <ValidationMessage For="@(() => registrationModel.LastName)" />
            </div>
        </div>
         
        <div class="form-row">
            <div class="input-group">
                <img src="images/cards.png" alt="Ikona identyfikacyjna" class="input-icon" />
                <InputText @bind-Value="registrationModel.PESEL" placeholder="PESEL" />
                <ValidationMessage For="@(() => registrationModel.PESEL)" />
            </div>
            <div class="input-group">
                <img src="images/calendar.png" alt="Ikona kalendarza" class="input-icon" />
                <div class="input-content">
                    <label for="birthdate" class="form-label">DATA URODZENIA</label>
                    <InputText @bind-Value="registrationModel.DateOfBirthString" type="date" id="birthdate" placeholder="DATA URODZENIA" />
                    <ValidationMessage For="@(() => registrationModel.DateOfBirthString)" />
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="input-group">
                <img src="images/envelope.png" alt="Ikona email" class="input-icon" />
                <InputText @bind-Value="registrationModel.Email" type="email" placeholder="ADRES EMAIL" />
                <ValidationMessage For="@(() => registrationModel.Email)" />
            </div>
            <div class="input-group">
                <img src="images/phone.png" alt="Ikona telefonu" class="input-icon" />
                <InputText @bind-Value="registrationModel.PhoneNumber" placeholder="NUMER TELEFONU" />
                <ValidationMessage For="@(() => registrationModel.PhoneNumber)" />
            </div>
        </div>

        <div class="form-row">
            <div class="input-group">
                <img src="images/lock.png" alt="Ikona zamka" class="input-icon" />
                <InputText @bind-Value="registrationModel.Password" type="password" placeholder="HASŁO" />
                <ValidationMessage For="@(() => registrationModel.Password)" />
            </div>
            <div class="input-group">
                <img src="images/lock.png" alt="Ikona zamka" class="input-icon" />
                <InputText @bind-Value="registrationModel.ConfirmPassword" type="password" placeholder="POTWIERDŹ HASŁO" />
                <ValidationMessage For="@(() => registrationModel.ConfirmPassword)" />
            </div>
        </div>

        <div class="form-row double-column">
            <div class="input-group">
                <img src="images/District.png" alt="Ikona obwodu" class="input-icon" />
                <select @bind="registrationModel.SelectedDistrictId" class="dropdown">
                    <option value="">Wybierz Obwód</option>
                    @foreach (var district in districts)
                    {
                        <option value="@district.IdDistrict">
                            @district.DistrictName - @district.DistrictHeadquarters
                        </option>
                    }
                </select>
                <ValidationMessage For="@(() => registrationModel.SelectedDistrictId)" />
            </div>
        </div>

        <button type="submit" class="submit-button">ZAREJESTRUJ</button>
    </EditForm>
    @* same as for Login.razor *@
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">@errorMessage</div>
    }
</div>


@code {
    private RegisterViewModel registrationModel = new RegisterViewModel();
    private List<DistrictViewModel> districts = new List<DistrictViewModel>();
    string errorMessage;
    //= new List<DistrictViewModel>();
    // {
    // new DistrictViewModel { IdDistrict = 1, DistrictName = "Obwód 1", DistrictHeadquarters = "Warszawa", DisabledFacilities = true },
    // new DistrictViewModel { IdDistrict = 2, DistrictName = "Obwód 2", DistrictHeadquarters = "Kraków", DisabledFacilities = false },
    // new DistrictViewModel { IdDistrict = 3, DistrictName = "Obwód 3", DistrictHeadquarters = "Poznań", DisabledFacilities = true }
    // };

    bool formSubmitted = false;

    protected override async Task OnInitializedAsync()
    {
        districts = await DistrictManagementService.Districts();
    }


    private async Task HandleRegistration()
    {
        //Maybe it is the better plan to make it return HttpResponse with more verbose payload
        int index = await PersonManagementService.GetPersonIdByPeselAsync(registrationModel.PESEL);

        if (index != 0) //if person with this PESEL found
        {
            var existingPerson = await PersonManagementService.GetPersonById(index);

            //check if data in form of person are the same as in database
            if (existingPerson.Name != registrationModel.FirstName
            || existingPerson.Surname != registrationModel.LastName
                || existingPerson.DateOfBirthString != registrationModel.DateOfBirthString)
            {
                errorMessage = "Podane dane dot. kandydata są niespójne z bazą danych(imię, nazwisko bądź data urodzenia). Należy je poprawić na prawidłowe!";
            }

            if(await ElectionUserManagementService.UserPersonIdExists(existingPerson.IdPerson))
            {
                errorMessage = "Użytkownik już istnieje!";
                return;
            }
        }
            formSubmitted = await AuthService.Register(registrationModel);
            errorMessage = formSubmitted ? "Rejestracja udana!" : "Rejestracja nie doszła do skutku!";
            //Console.WriteLine($"Zarejestrowano użytkownika: {registrationModel.FirstName} {registrationModel.LastName}");
        
    }
}
