@page "/modifyvoter/{voterId:int}"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using System.ComponentModel.DataAnnotations
@using E_Wybory.Client.FilterData
@using E_Wybory.Client.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IFilterWrapperManagementService FilterWrapperService
@inject IPersonManagementService PersonManagementService
@inject IElectionUserManagementService ElectionUserManagementService
@inject IVoterManagementService VoterManagementService
@inject NavigationManager NavigationManager
<link href="forms.css" rel="stylesheet" />
<CascadingAuthenticationState>
    <AuthorizeView Roles="Urzędnicy wyborczy, Administratorzy" Context="authContext">
         <Authorized>

<div class="form-container">
    <h1>ZMIANA OBWODU WYBORCY</h1>
    <EditForm Model="@voterModel" OnValidSubmit="HandleAddSubmit">
        <DataAnnotationsValidator />

        <div class="form-group-smaller">
            <label for="pesel">PESEL WYBORCY</label>
            <InputText @bind-Value="@EnteredPesel" id="pesel" readonly class="form-input" placeholder="Nr Pesel wyborcy" />
            <ValidationMessage For="@(() => personModel.PESEL)" />
        </div>
        <div class="form-group-smaller">
            <label for="wojewodztwo">WOJEWÓDZTWO</label>
            <select @bind="@SelectedVoivodeshipId" id="wojewodztwo" @bind:after="@OnVoivodeshipChanged">
                <option value="">Wybierz województwo</option>
                @foreach (var voivodeship in wrapper.VoivodeshipFilter)
                {
                    <option value="@voivodeship.idVoivodeship">
                        @voivodeship.voivodeshipName
                    </option>
                }
            </select>
        </div>
        <div class="form-group-smaller">
            <label for="powiat">POWIAT</label>
            <select @bind="@SelectedCountyId" id="powiat" @bind:after="@OnCountyChanged">
                <option value="">Wybierz powiat</option>
                @foreach (var county in wrapper.CountyFilter)
                {
                    @if (county.IdVoivodeship == SelectedVoivodeshipId)
                    {
                        <option value="@county.IdCounty">
                            @county.CountyName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="form-group-smaller">
            <label for="gmina">GMINA</label>
            <select @bind="@SelectedProvinceId" id="gmina" @bind:after="@OnProvinceChanged">
                <option value="">Wybierz gminę</option>
                @foreach (var province in wrapper.ProvinceFilter)
                {
                    @if (province.IdCounty == SelectedCountyId)
                    {
                        <option value="@province.IdProvince">
                            @province.ProvinceName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="form-group-smaller">
            <label for="numer-obwodu">NUMER OBWODU</label>
            <select @bind="@SelectedDistrictId" id="obwod" @bind:after="@OnDistrictChanged">
                <option value="">Wybierz obwód wyborczy</option>
                @foreach (var district in wrapper.DistrictFilter)
                {
                    @if (district.IdProvince == SelectedProvinceId)
                    {
                        <option value="@district.IdDistrict">
                            @district.DistrictName - @district.DistrictHeadquarters
                        </option>
                    }
                }
            </select>
        </div>

        <div class="form-row">
            <button type="submit" class="submit-button">ZATWIERDŹ ZMIANY</button>
            <button type="button" class="cancel-button" @onclick="Cancel">ANULUJ</button>
        </div>
    </EditForm>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">@errorMessage</div>
    }
</div>

        </Authorized>
        <NotAuthorized>
            <div class="not-authorized-container">
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
                <p class="not-authorized-message">Nie posiadasz odpowiednich uprawnień do wyświetlenia tej strony</p>
                <img src="images/WarningIcon.png" alt="Alert Icon" class="alert-icon" />
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Parameter]
    public int voterId { get; set; }

    private int? SelectedVoivodeshipId { get; set; } = null;
    private int? SelectedCountyId { get; set; } = null;
    private int? SelectedProvinceId { get; set; } = null;
    private int? SelectedDistrictId { get; set; } = null;
    private string? EnteredPesel = String.Empty;

    private FilterListWrapper wrapper = new FilterListWrapper();

    bool isModifiedVoter = false;
    string errorMessage;

    private VoterViewModel voterModel = new VoterViewModel();
    private PersonViewModel personModel = new PersonViewModel();
    private ElectionUserViewModel userViewModel = new ElectionUserViewModel();

    protected override async Task OnInitializedAsync()
    {
        if (!await VoterManagementService.VoterExists(voterId))
        {
            errorMessage = "Nie znaleziono wyborcy!";
            StateHasChanged();
            await Task.Delay(1000);
            Cancel();
        }
        else
        {
            voterModel = await VoterManagementService.GetVoterById(voterId);
            try
            {
                userViewModel = await ElectionUserManagementService.GetElectionUserById(voterModel.IdElectionUser);
                personModel = await PersonManagementService.GetPersonById(userViewModel.IdPerson);
                EnteredPesel = personModel.PESEL;
            }
            catch(Exception ex)
            {
                errorMessage = "Nie ma powiązanego użytkownika w bazie!";
                StateHasChanged();
                await Task.Delay(1000);
                Cancel();
            }
            await FilterRegions();
        }

    }

    private async Task HandleAddSubmit()
    {
        isModifiedVoter = await VoterManagementService.PutVoter(voterModel);
        errorMessage = isModifiedVoter ? "Zmodyfikowano wyborcę pomyślnie!" : "Nie udało się zmodyfikować wyborcy!";
        if (isModifiedVoter)
        {
            StateHasChanged();
            await Task.Delay(1000);
            Cancel();
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/voterslist");
    }

    private async Task OnVoivodeshipChanged()
    {
        SelectedCountyId = null;
        SelectedProvinceId = null;
        SelectedDistrictId = null;

        await FilterRegions();
    }

    private async Task OnCountyChanged()
    {
        SelectedProvinceId = null;
        SelectedDistrictId = null;

        await FilterRegions();
    }

    private async Task OnProvinceChanged()
    {
        SelectedDistrictId = null;
        await FilterRegions();
    }

    private async Task OnDistrictChanged()
    {
        voterModel.IdDistrict = SelectedDistrictId;
    }

    private async Task FilterRegions()
    {
        wrapper = await FilterWrapperService.GetFilteredListsWrapper(SelectedVoivodeshipId, SelectedCountyId, SelectedProvinceId);
    }
}
